@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
:root {
  --main-color: #6b00e3;
  --orange-color: #f28600;
  --bg-color: #121128;
  --header-color: #1d1933;
  --card1-color: #211c3d;
  --card2-color: #2a2544;
}
.contact-btn {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 140px;
  text-align: center;
  color: white;
  border: 3px solid var(--main-color);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  border-radius: 4px;
}
.contact-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.contact-btn:hover::before {
  transform: translateX(0);
}
.container {
  width: 85vw;
  margin: auto;
}
.start-button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  outline: none;
  font-size: 35px;
  padding-bottom: 8px;
  width: 67px;
  height: 62px;
  border-radius: 15px 15px 12px 12px;
  cursor: pointer;
  position: relative;
  will-change: transform;
  font-family: "Tajawal", sans-serif !important;
  transition: all 0.1s ease-in-out 0s;
  user-select: none;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-position: bottom right, bottom right;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset -4px -10px 0px var(--main-color),
    inset -4px -8px 0px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(0, 0, 0, 0.3),
    0px 2px 1px rgba(255, 255, 255, 0.1);
  transform: perspective(70px) rotateX(5deg) rotateY(0deg);
}
.start-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  z-index: -1;
  border-radius: 15px;
  box-shadow: inset 4px 0px 0px rgba(255, 255, 255, 0.1),
    inset 4px -8px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out 0s;
}
.start-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-position: bottom right, bottom right;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 15px;
  transition: all 0.1s ease-in-out 0s;
}
.start-button:active {
  will-change: transform;
  transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px)
    scale(0.96);
  height: 64px;
  border: 0.25px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset -4px -8px 0px rgba(255, 255, 255, 0.2),
    inset -4px -6px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(0, 0, 0, 0.9),
    0px 1px 0px rgba(255, 255, 255, 0.2);
  transition: all 0.1s ease-in-out 0s;
}
.start-button::after:active {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.2)
  );
}
.start-button:active::before {
  content: "";
  display: block;
  position: absolute;
  top: 5%;
  left: 20%;
  width: 50%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  animation: overlay 0.1s ease-in-out 0s;
  pointer-events: none;
}
@keyframes overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.delete-button:focus {
  outline: none;
}
.start-web {
  width: 100%;
  height: 105%;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
  background-color: var(--bg-color);
}
.remove-start {
  height: 0;
  transition: 0.8s;
}
.flow-hidden {
  overflow: hidden;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
.m-st {
  text-transform: uppercase;
  margin: 50px auto 10px;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  cursor: context-menu;
  height: 60px;
  display: flex;
  align-items: center;
}
.m-st::before {
  left: -30px;
}
.m-st::after {
  right: -30px;
}
.m-st::before,
.m-st::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 10px var(--main-color);
}
.m-st:hover::before {
  z-index: -1;
  animation: left-move 0.6s linear forwards;
}
.m-st:hover::after {
  z-index: -1;
  animation: right-move 0.6s linear forwards;
}
.m-st:hover {
  color: #fff;
  transition-delay: 0.5s;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
